<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS -->
  <link href="{% static '/css/forgot_password.css' %}" rel="stylesheet">
</head>

<body>
  <div class="forgot-password-container">
    <!-- Image section -->
    <div class="image-container">
      <!-- Background image will be applied here -->
    </div>
    <!-- Form section -->
    <div class="form-container">
      <div class="forgot-password-form">
        <h4 class="mb-4">FORGOT YOUR PASSWORD?</h4>
        <p>Enter your email and we will send you a link to reset your password.</p>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email Address *</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <button type="submit" class="btn btn-dark btn-block">RESET PASSWORD</button>
        </form>
        <a href="{% url 'login' %}" class="back-to-login text-primary">Back to Login Page</a>
      </div>
    </div>
  </div>

  <script>
    setTimeout(function() {
      $('.alert').fadeOut('slow');
    }, 2000); // 2000 milliseconds = 2 seconds
  </script>

</body>
</html>
