.forgot-password-container {
    display: flex;
    height: 100vh;
}
.image-container {
    background-image: url('../image/forgot_password.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
}
.form-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.forgot-password-form {
    width: 100%;
    max-width: 400px;
}
.form-control {
    border-radius: 25px;
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.btn {
    border-radius: 25px;
    padding: 10px 20px;
}
.back-to-login {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}