.register-container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.image-container {
    background-image: url('../image/register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    opacity: 0.8;
}
.register-form-container {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.register-form {
    width: 100%;
    max-width: 400px;
}
.form-control {
    border-radius: 25px; 
    padding: 10px 20px; 
    background-color: #f0f0f0;
    border: none; 
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.btn {
    border-radius: 25px; 
    padding: 10px 20px; 
    margin: 0;
}
